* {
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
}

.flex-between {
  justify-content: space-between;
}

.ui-card {
  width: 200px;
  border: 2px solid black;
  background-color: antiquewhite;
  padding: 1rem;
  border-radius: 10px;
  display: inline-block;
}

.mb {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-top: 0.5rem;
}

/* Base game UI */
.game-container {
  position: fixed;
  background-image: url("../img/background.png");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.game-container {
  background-color: black;
  z-index: 1;
}

.ui-container-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.ui-container-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
}
