html, body {margin: 0; padding: 0; height: 100%;}

*{
  box-sizing: border-box;
}

.flex{
    display: flex;
}

.flex-between{
    justify-content: space-between;
}

.ui-card{
  width: 200px;
  border: 2px solid black;
  background-color: antiquewhite;
  padding: 1rem;
  border-radius: 10px;
  display: inline-block;
}

.mb {
  margin-bottom: .5rem;
}