<div class="ui-card chat-panel">
  <div class="chat-messages">
    <div class="message mb-2">
      <span class="user-name">João: </span>
      <span>Ops?</span>
    </div>
    <div class="message mb-2">
      <span class="user-name">Maninho: </span>
      <span>eae</span>
    </div>
    <div class="message mb-2">
      <span class="user-name">Duck: </span>
      <span>Oi</span>
    </div>
    <div class="message mb-2">
      <span class="user-name">Tinho: </span>
      <span>opa</span>
    </div>
    <div class="message mb-2">
      <span class="user-name">Baum: </span>
      <span>salve</span>
    </div>
    <div class="message mb-2">
      <span class="user-name">Bryan: </span>
      <span>Eba</span>
    </div>
  </div>

  <div class="input">
    <input type="text" placeholder="Enter para enviar..." />
  </div>
</div>
