<div class="ui-card itens-shortcut-panel">
  <div class="flex itens">
    <div class="slot" data-id="4">
      <span>4</span>
      <span>⚔</span>
    </div>
    <div class="slot" data-id="5">
      <span>5</span>
      <span>🪄</span>
    </div>
    <div class="slot" data-id="6">
      <span>6</span>
      <span>🧚</span>
    </div>
    <div class="slot" data-id="7">
       <span>7</span>
       <span>🥊</span>
    </div>
    <div class="slot" data-id="8">
      <span>8</span>
      <span>🛡️</span>
    </div>
    
  </div>
</div>
