/* Menu Panel */

.menu-panel{
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 400px;
}

.ui-card.menu-panel{
    padding: 0;
}

.menu-panel .slot{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}